In [1]:
import os
os.chdir('/home/users/richras/Ge2Net_Repo/')
import os.path as osp
import numpy as np
import pandas as pd
import allel
from helper_funcs import vcf2npy

In [2]:
in_path="/scratch/groups/cdbustam/richras/data_in"
out_path="/scratch/groups/cdbustam/richras/data_out"

In [3]:
metadata_filename = osp.join(in_path,"dogs/Metadata_May2018.xlsx")
metadata = pd.read_excel(open(metadata_filename, 'rb'), engine='openpyxl')
metadata

,Name_ID,Breed/CommonName,BioProject,BioSample,Sex,CoverageAll,CoverageX,CoverageRatio,AnalysisName_Phylo,Phylo_Results,Phylo_Bootstrap,Phylo_Notes,Other_Information,Unnamed: 13
0,AfghanHound01,Afghan Hound,PRJNA208087,SAMN02194722,M,28.37080,15.38870,1.843613,AFGH01_xxx,Afghan Hound,100,NaN,Clone of SCN Donor,NaN
1,AfghanHound03,Afghan Hound,PRJNA232497,SAMN02485564,F,7.64333,7.71598,0.990584,AFGH03_xxx,Afghan Hound,100,NaN,NaN,NaN
2,AfghanHound04,Afghan Hound,PRJNA266585,SAMN03168377,M,17.56610,9.92331,1.770186,AFGH04_xxx,Afghan Hound,100,NaN,NaN,NaN
3,AiredaleTerrier01,Airedale Terrier,PRJNA263947,SAMN03580381,M,15.57180,9.14245,1.703241,AIRT01_xxx,Airedale Terrier,100,NaN,NaN,NaN
4,AiredaleTerrier02,Airedale Terrier,PRJNA263947,SAMN03580390,F,34.66110,35.08430,0.987938,AIRT02_xxx,Airedale Terrier,100,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,PER00806,Yorkshire Terrier,NaN,NaN,M,13.42880,8.77737,1.529934,PER00806_x,Yorkshire Terrier,100,NaN,NaN,NaN
719,PER00816,Yorkshire Terrier,NaN,NaN,M,16.05820,9.56801,1.678322,PER00816_x,Yorkshire Terrier,100,NaN,NaN,NaN
720,YorkshireTerrier01,Yorkshire Terrier,PRJEB13468,SAMEA3928145,M,21.18020,11.88950,1.781421,YORK01_xxx,Yorkshire Terrier,100,NaN,NaN,NaN
721,YorkshireTerrier02,Yorkshire Terrier,PRJNA299099,SAMN04195509,M,32.97570,18.44320,1.787960,YORK02_xxx,Yorkshire Terrier,100,NaN,NaN,NaN
722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# remove the rows that have null for Breed/CommonName
metadata = metadata[~metadata["Breed/CommonName"].isnull()]

In [5]:
ref_map = metadata[~metadata["Breed/CommonName"].str.contains("Wolf|Coyote|Dhole|Andean Fox|Jackal")].\
reset_index(drop=True)
ref_map

,Name_ID,Breed/CommonName,BioProject,BioSample,Sex,CoverageAll,CoverageX,CoverageRatio,AnalysisName_Phylo,Phylo_Results,Phylo_Bootstrap,Phylo_Notes,Other_Information,Unnamed: 13
0,AfghanHound01,Afghan Hound,PRJNA208087,SAMN02194722,M,28.37080,15.38870,1.843613,AFGH01_xxx,Afghan Hound,100,NaN,Clone of SCN Donor,NaN
1,AfghanHound03,Afghan Hound,PRJNA232497,SAMN02485564,F,7.64333,7.71598,0.990584,AFGH03_xxx,Afghan Hound,100,NaN,NaN,NaN
2,AfghanHound04,Afghan Hound,PRJNA266585,SAMN03168377,M,17.56610,9.92331,1.770186,AFGH04_xxx,Afghan Hound,100,NaN,NaN,NaN
3,AiredaleTerrier01,Airedale Terrier,PRJNA263947,SAMN03580381,M,15.57180,9.14245,1.703241,AIRT01_xxx,Airedale Terrier,100,NaN,NaN,NaN
4,AiredaleTerrier02,Airedale Terrier,PRJNA263947,SAMN03580390,F,34.66110,35.08430,0.987938,AIRT02_xxx,Airedale Terrier,100,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,PER00777,Yorkshire Terrier,NaN,NaN,M,16.50230,9.73722,1.694765,PER00777_x,Yorkshire Terrier,100,NaN,NaN,NaN
663,PER00806,Yorkshire Terrier,NaN,NaN,M,13.42880,8.77737,1.529934,PER00806_x,Yorkshire Terrier,100,NaN,NaN,NaN
664,PER00816,Yorkshire Terrier,NaN,NaN,M,16.05820,9.56801,1.678322,PER00816_x,Yorkshire Terrier,100,NaN,NaN,NaN
665,YorkshireTerrier01,Yorkshire Terrier,PRJEB13468,SAMEA3928145,M,21.18020,11.88950,1.781421,YORK01_xxx,Yorkshire Terrier,100,NaN,NaN,NaN
666,YorkshireTerrier02,Yorkshire Terrier,PRJNA299099,SAMN04195509,M,32.97570,18.44320,1.787960,YORK02_xxx,Yorkshire Terrier,100,NaN,NaN,NaN

In [6]:
# ref_map = metadata[~metadata["Breed/CommonName"].str.contains(r"\b(?:Wolf|Coyote|Dhole|Andean Fox|Jackal)\b", case=False)].\
# reset_index(drop=True)
# ref_map
# contains(r"\b(?:mix|unknown|vill)\b", case=False)

In [7]:
# ref_map[~ref_map["Name_ID"].isin(ref_map1["Name_ID"])]

In [8]:
len(np.unique(ref_map["Breed/CommonName"].values)), np.unique(ref_map["Breed/CommonName"].values)

(171, array(['Afghan Hound', 'Airedale Terrier', 'Alaskan Husky',
        'Alaskan Malamute', 'Alpine Dachsbracke',
        'American Hairless Terrier', 'Australian Cattle Dog',
        'Australian Terrier', 'Basenji',
        'Bavarian Hound (Bayerischer Gebirgsschweisshund)', 'Beagle',
        'Bearded Collie', 'Belgian Malinois', 'Belgian Sheepdog',
        'Belgian Tervuren', 'Berger Blanc Suisse', 'Berger Picard',
        'Bernese Mountain Dog', 'Black Russian Terrier',
        'Black and Tan Coonhound', 'Bloodhound', 'Border Collie',
        'Border Terrier', 'Borzoi', 'Boston Terrier',
        'Bouvier des Flandres', 'Boxer', 'Brittany', 'Bull Terrier',
        'Bulldog', 'Bullmastiff', 'Cairn Terrier', 'Cane Corso',
        'Carolina Dog', 'Caucasian Ovcharka',
        'Cavalier King Charles Spaniel', 'Chesapeake Bay Retriever',
        'Chihuahua', 'Chinese Crested', 'Chinese Indigenous Dog',
        'Chinese Shar-Pei', 'Chinook', 'Chongqing Dog', 'Chow Chow',
        'Clumber Spaniel', 'Cocker Spaniel (American)',
        'Curly-Coated Retriever', 'Dachshund', 'Dalmatian', 'Dingo',
        'Doberman Pinscher', 'East Siberian Laika', 'Elo',
        'English Cocker Spaniel', 'English Setter',
        'English Springer Spaniel', 'Entlebucher Sennenhund', 'Eurasier',
        'Field Spaniel', 'Finnish Lapphund', 'Flat-Coated Retriever',
        "Fonni's Dog", 'French Bulldog', 'German Hunting Terrier',
        'German Shepherd Dog', 'German Wirehaired Pointer',
        'Golden Retriever', 'Gordon Setter', 'Great Dane',
        'Great Pyrenees', 'Greater Swiss Mountain Dog', 'Greenland Dog',
        'Greyhound', 'Grossspitz', 'Heideterrier', 'Hovawart',
        'Irish Setter', 'Irish Terrier', 'Irish Water Spaniel',
        'Istrian Shorthaired Hound', 'Italian Greyhound',
        'Jack Russell Terrier', 'Jamthund', 'Jindo', 'Keeshond',
        'Kerry Blue Terrier', 'Komondor', 'KromfohrlÃ¤nder', 'Kunming Dog',
        'Labrador Retriever', 'Lagotto Romagnolo', 'Landseer',
        'Lapponian Herder', 'Leonberger', 'Lowchen',
        'MIX: American Cocker Spaniel and Beagle', 'MIX: Dachsund',
        'MIX: Golden Retriever', 'MIX: Kerry Blue Terrier and Beagle',
        'MIX: Labrador Retriever', 'MIX: Miniature Schnauzer and Beagle',
        'MIX: Mixed Breed', 'MIX: Siberian Husky', 'MIX: Tibetan Mastiff',
        'Mastiff (English)', 'Miniature Bull Terrier ', 'Miniature Poodle',
        'Miniature Schnauzer', 'New Guinea Singing Dog',
        'Nigerian Indigenous Dog', 'Norwegian Elkhound',
        'Norwegian Lundehund', 'Norwich Terrier',
        'Nova Scotia Duck Tolling Retriever', 'Pekingese',
        'Pembroke Welsh Corgi', 'Peruvian Inca Orchid',
        'Petit Basset Griffon Vendeen', 'Pointer (English)', 'Pomeranian',
        'Poodle unspecified variety', 'Portuguese Podengo',
        'Portuguese Water Dog', 'Pug', 'Qingchuan Dog',
        'Rhodesian Ridgeback', 'Rottweiler', 'Saint Bernard', 'Saluki',
        'Samoyed', 'Scottish Deerhound', 'Scottish Terrier',
        'Shetland Sheepdog', 'Shiba Inu', 'Shih Tzu', 'Siberian Husky',
        'Sloughi', 'Soft Coated Wheaten Terrier', 'Spanish Galgo',
        'Spanish Water Dog', 'Spinone Italiano', 'Standard Poodle',
        'Standard Schnauzer', 'Swedish Lapphund', 'Tibetan Mastiff',
        'Tibetan Mastiff - China', 'Tibetan Terrier', 'Tornjak',
        'Toy Poodle', 'UNKNOWN', 'Vietnamese Indigenous Dog',
        'Village Dog - Aboriginal Camp Dog', 'Village Dog - Borneo',
        'Village Dog - China', 'Village Dog - Egypt',
        'Village Dog - India', 'Village Dog - Lebanon',
        'Village Dog - Namibia', 'Village Dog - Papua New Guinea',
        'Village Dog - Portugal', 'Village Dog - Qatar',
        'Village Dog - Sub-Saharan Africa', 'Village Dog - Taiwan',
        'Village Dog - Vietnam', 'Vizsla', 'Weimaraner',
        'West Highland White Terrier', 'Whippet', 'Xiasi Dog',
        'Xoloitzcuintli', 'Yorkshire Terrier'], dtype=object))

In [9]:
sample_map = ref_map[["Name_ID", "Breed/CommonName"]]
sample_map

                Name_ID   Breed/CommonName
0         AfghanHound01       Afghan Hound
1         AfghanHound03       Afghan Hound
2         AfghanHound04       Afghan Hound
3     AiredaleTerrier01   Airedale Terrier
4     AiredaleTerrier02   Airedale Terrier
..                  ...                ...
662            PER00777  Yorkshire Terrier
663            PER00806  Yorkshire Terrier
664            PER00816  Yorkshire Terrier
665  YorkshireTerrier01  Yorkshire Terrier
666  YorkshireTerrier02  Yorkshire Terrier

[667 rows x 2 columns]

In [10]:
#save the sample map 
sample_map.to_csv(r'/scratch/groups/cdbustam/richras/data_out/dogs/ref_map_a.txt',\
                  header=None, index=None, sep='\t')

In [11]:
# form a ref map with the same column for Superpopulation Code (superpop) and Population(granular pop)
ref_sample_map = sample_map.rename(columns={"Name_ID":"Sample", "Breed/CommonName":"Population"})
ref_sample_map["Superpopulation code"] = ref_sample_map["Population"]
ref_sample_map

                 Sample         Population Superpopulation code
0         AfghanHound01       Afghan Hound         Afghan Hound
1         AfghanHound03       Afghan Hound         Afghan Hound
2         AfghanHound04       Afghan Hound         Afghan Hound
3     AiredaleTerrier01   Airedale Terrier     Airedale Terrier
4     AiredaleTerrier02   Airedale Terrier     Airedale Terrier
..                  ...                ...                  ...
662            PER00777  Yorkshire Terrier    Yorkshire Terrier
663            PER00806  Yorkshire Terrier    Yorkshire Terrier
664            PER00816  Yorkshire Terrier    Yorkshire Terrier
665  YorkshireTerrier01  Yorkshire Terrier    Yorkshire Terrier
666  YorkshireTerrier02  Yorkshire Terrier    Yorkshire Terrier

[667 rows x 3 columns]

In [12]:
# save ref_sample_map
ref_sample_map.to_csv(r'/scratch/groups/cdbustam/richras/data_out/dogs/ref_map_a.tsv', index=None, sep='\t')

# Select the samples to remove based on missing snps

In [17]:
import os.path as osp
start_chr=1
end_chr=38
pd.options.display.float_format = '{:.2f}'.format
for i in range(start_chr, end_chr+1):
    print(f"chm{i}")
    df_chr = pd.read_csv(''.join([osp.join(out_path,'dogs', 'chr'+str(i)),'/chr'+str(i)+'_nMissing.txt']), sep="\t", header=None)
    print(df_chr)
    df_chr_missing = df_chr[1:].copy()
    df_chr_missing.columns=['samples', 'nMissing']
    df_chr_missing['_Missing%'] = df_chr_missing['nMissing']*100/df_chr.iloc[0,1]
    
    df_rm_samples = df_chr_missing[df_chr_missing['_Missing%']>10]
    perc_cols=[col for col in df_rm_outer.columns if '_Missing%' in col] if i>start_chr else '_Missing%'
    print(f"perc_cols:{perc_cols}")
    df_rm_outer = df_rm_outer[['samples', *perc_cols]].merge(df_rm_samples[['samples', '_Missing%']], \
                    how="outer", on="samples") if i>start_chr else df_rm_samples[['samples', '_Missing%']]
    df_rm_outer.rename(columns={'_Missing%':'_Missing%_chr'+str(i)}, inplace=True)
    print(df_rm_outer)

chm1
                   0          1
0    number of SNPs: 3715358.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:_Missing%
Empty DataFrame
Columns: [samples, _Missing%_chr1]
Index: []
chm2
                   0          1
0    number of SNPs: 2637994.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1']
Empty DataFrame
Columns: [_Missing%_chr1, samples, _Missing%_chr2]
Index: []
chm3
                   0          1
0    number of SNPs: 2813304.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, samples, _Missing%_chr3]
Index: []
chm4
                   0          1
0    number of SNPs: 2662361.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, samples, _Missing%_chr4]
Index: []
chm5
                   0          1
0    number of SNPs: 2676178.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, samples, _Missing%_chr5]
Index: []
chm6
                   0          1
0    number of SNPs: 2331851.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, samples, _Missing%_chr6]
Index: []
chm7
                   0          1
0    number of SNPs: 2325170.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, samples, _Missing%_chr7]
Index: []
chm8
                   0          1
0    number of SNPs: 2342099.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, samples, _Missing%_chr8]
Index: []
chm9
                   0          1
0    number of SNPs: 1748067.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, samples, _Missing%_chr9]
Index: []
chm10
                   0          1
0    number of SNPs: 2102834.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9']

/share/software/user/open/py-pandas/1.0.3_py36/lib/python3.6/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, samples, _Missing%_chr10]
Index: []
chm11
                   0          1
0    number of SNPs: 2196764.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, samples, _Missing%_chr11]
Index: []
chm12
                   0          1
0    number of SNPs: 2174438.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, samples, _Missing%_chr12]
Index: []
chm13
                   0          1
0    number of SNPs: 2000413.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, samples, _Missing%_chr13]
Index: []
chm14
                   0          1
0    number of SNPs: 1805969.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, samples, _Missing%_chr14]
Index: []
chm15
                   0          1
0    number of SNPs: 1928494.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, samples, _Missing%_chr15]
Index: []
chm16
                   0          1
0    number of SNPs: 2027479.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, samples, _Missing%_chr16]
Index: []
chm17
                   0          1
0    number of SNPs: 1985684.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, samples, _Missing%_chr17]
Index: []
chm18
                   0          1
0    number of SNPs: 1814019.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, samples, _Missing%_chr18]
Index: []
chm19
                   0          1
0    number of SNPs: 1747369.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, samples, _Missing%_chr19]
Index: []
chm20
                   0          1
0    number of SNPs: 1677986.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, samples, _Missing%_chr20]
Index: []

[0 rows x 21 columns]
chm21
                   0          1
0    number of SNPs: 1625071.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, samples, _Missing%_chr21]
Index: []

[0 rows x 22 columns]
chm22
                   0          1
0    number of SNPs: 1870317.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21']

Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, samples, _Missing%_chr22]
Index: []

[0 rows x 23 columns]
chm23
                   0          1
0    number of SNPs: 1553157.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, samples, _Missing%_chr23]
Index: []

[0 rows x 24 columns]
chm24
                   0          1
0    number of SNPs: 1494772.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, samples, _Missing%_chr24]
Index: []

[0 rows x 25 columns]
chm25
                   0          1
0    number of SNPs: 1603223.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, samples, _Missing%_chr25]
Index: []

[0 rows x 26 columns]
chm26
                   0          1
0    number of SNPs: 1399852.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, samples, _Missing%_chr26]
Index: []

[0 rows x 27 columns]
chm27
                   0          1
0    number of SNPs: 1409104.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, _Missing%_chr26, samples, _Missing%_chr27]
Index: []

[0 rows x 28 columns]
chm28
                   0          1
0    number of SNPs: 1312017.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, _Missing%_chr26, _Missing%_chr27, samples, _Missing%_chr28]
Index: []

[0 rows x 29 columns]
chm29
                   0          1
0    number of SNPs: 1315790.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, _Missing%_chr26, _Missing%_chr27, _Missing%_chr28, samples, _Missing%_chr29]
Index: []

[0 rows x 30 columns]
chm30
                   0          1
0    number of SNPs: 1181922.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, _Missing%_chr26, _Missing%_chr27, _Missing%_chr28, _Missing%_chr29, samples, _Missing%_chr30]
Index: []

[0 rows x 31 columns]
chm31

                   0          1
0    number of SNPs: 1304523.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, _Missing%_chr26, _Missing%_chr27, _Missing%_chr28, _Missing%_chr29, _Missing%_chr30, samples, _Missing%_chr31]
Index: []

[0 rows x 32 columns]
chm32
                   0          1
0    number of SNPs: 1222521.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30', '_Missing%_chr31']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, _Missing%_chr26, _Missing%_chr27, _Missing%_chr28, _Missing%_chr29, _Missing%_chr30, _Missing%_chr31, samples, _Missing%_chr32]
Index: []

[0 rows x 33 columns]
chm33
                   0         1
0    number of SNPs: 981145.00
1           0.348485       nan
2           0.353535       nan
3           0.358586       nan
4           0.363636       nan
..               ...       ...
125         0.974747       nan
126         0.979798       nan
127         0.984848       nan
128         0.989899       nan
129         0.994949       nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30', '_Missing%_chr31', '_Missing%_chr32']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, _Missing%_chr26, _Missing%_chr27, _Missing%_chr28, _Missing%_chr29, _Missing%_chr30, _Missing%_chr31, _Missing%_chr32, samples, _Missing%_chr33]
Index: []

[0 rows x 34 columns]
chm34
                   0          1
0    number of SNPs: 1401538.00
1           0.348485        nan
2           0.353535        nan
3           0.358586        nan
4           0.363636        nan
..               ...        ...
125         0.974747        nan
126         0.979798        nan
127         0.984848        nan
128         0.989899        nan
129         0.994949        nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30', '_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, _Missing%_chr26, _Missing%_chr27, _Missing%_chr28, _Missing%_chr29, _Missing%_chr30, _Missing%_chr31, _Missing%_chr32, _Missing%_chr33, samples, _Missing%_chr34]
Index: []

[0 rows x 35 columns]
chm35
                   0         1
0    number of SNPs: 871160.00
1           0.348485       nan
2           0.353535       nan
3           0.358586       nan
4           0.363636       nan
..               ...       ...
125         0.974747       nan
126         0.979798       nan
127         0.984848       nan
128         0.989899       nan
129         0.994949       nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30', '_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33', '_Missing%_chr34']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, _Missing%_chr26, _Missing%_chr27, _Missing%_chr28, _Missing%_chr29, _Missing%_chr30, _Missing%_chr31, _Missing%_chr32, _Missing%_chr33, _Missing%_chr34, samples, _Missing%_chr35]
Index: []

[0 rows x 36 columns]
chm36
                   0         1
0    number of SNPs: 912303.00
1           0.348485       nan
2           0.353535       nan
3           0.358586       nan
4           0.363636       nan
..               ...       ...
125         0.974747       nan
126         0.979798       nan
127         0.984848       nan
128         0.989899       nan
129         0.994949       nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30', '_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33', '_Missing%_chr34', '_Missing%_chr35']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, _Missing%_chr26, _Missing%_chr27, _Missing%_chr28, _Missing%_chr29, _Missing%_chr30, _Missing%_chr31, _Missing%_chr32, _Missing%_chr33, _Missing%_chr34, _Missing%_chr35, samples, _Missing%_chr36]
Index: []

[0 rows x 37 columns]
chm37
                   0         1
0    number of SNPs: 977540.00
1           0.348485       nan
2           0.353535       nan
3           0.358586       nan
4           0.363636       nan
..               ...       ...
125         0.974747       nan
126         0.979798       nan
127         0.984848       nan
128         0.989899       nan
129         0.994949       nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30', '_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33', '_Missing%_chr34', '_Missing%_chr35', '_Missing%_chr36']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, _Missing%_chr26, _Missing%_chr27, _Missing%_chr28, _Missing%_chr29, _Missing%_chr30, _Missing%_chr31, _Missing%_chr32, _Missing%_chr33, _Missing%_chr34, _Missing%_chr35, _Missing%_chr36, samples, _Missing%_chr37]
Index: []

[0 rows x 38 columns]
chm38
                   0         1
0    number of SNPs: 822301.00
1           0.348485       nan
2           0.353535       nan
3           0.358586       nan
4           0.363636       nan
..               ...       ...
125         0.974747       nan
126         0.979798       nan
127         0.984848       nan
128         0.989899       nan
129         0.994949       nan

[130 rows x 2 columns]
perc_cols:['_Missing%_chr1', '_Missing%_chr2', '_Missing%_chr3', '_Missing%_chr4', '_Missing%_chr5', '_Missing%_chr6', '_Missing%_chr7', '_Missing%_chr8', '_Missing%_chr9', '_Missing%_chr10', '_Missing%_chr11', '_Missing%_chr12', '_Missing%_chr13', '_Missing%_chr14', '_Missing%_chr15', '_Missing%_chr16', '_Missing%_chr17', '_Missing%_chr18', '_Missing%_chr19', '_Missing%_chr20', '_Missing%_chr21', '_Missing%_chr22', '_Missing%_chr23', '_Missing%_chr24', '_Missing%_chr25', '_Missing%_chr26', '_Missing%_chr27', '_Missing%_chr28', '_Missing%_chr29', '_Missing%_chr30', '_Missing%_chr31', '_Missing%_chr32', '_Missing%_chr33', '_Missing%_chr34', '_Missing%_chr35', '_Missing%_chr36', '_Missing%_chr37']
Empty DataFrame
Columns: [_Missing%_chr1, _Missing%_chr2, _Missing%_chr3, _Missing%_chr4, _Missing%_chr5, _Missing%_chr6, _Missing%_chr7, _Missing%_chr8, _Missing%_chr9, _Missing%_chr10, _Missing%_chr11, _Missing%_chr12, _Missing%_chr13, _Missing%_chr14, _Missing%_chr15, _Missing%_chr16, _Missing%_chr17, _Missing%_chr18, _Missing%_chr19, _Missing%_chr20, _Missing%_chr21, _Missing%_chr22, _Missing%_chr23, _Missing%_chr24, _Missing%_chr25, _Missing%_chr26, _Missing%_chr27, _Missing%_chr28, _Missing%_chr29, _Missing%_chr30, _Missing%_chr31, _Missing%_chr32, _Missing%_chr33, _Missing%_chr34, _Missing%_chr35, _Missing%_chr36, _Missing%_chr37, samples, _Missing%_chr38]
Index: []

[0 rows x 39 columns]

In [10]:
df_rm_outer

,samples,_Missing%_chr1,_Missing%_chr2,_Missing%_chr3,_Missing%_chr4,_Missing%_chr5,_Missing%_chr6,_Missing%_chr7,_Missing%_chr8,_Missing%_chr9,...,_Missing%_chr29,_Missing%_chr30,_Missing%_chr31,_Missing%_chr32,_Missing%_chr33,_Missing%_chr34,_Missing%_chr35,_Missing%_chr36,_Missing%_chr37,_Missing%_chr38
0,PER00167,10.23,13.47,nan,nan,13.47,11.50,nan,nan,19.18,...,nan,10.69,11.85,nan,nan,nan,nan,nan,nan,10.92
1,Pug01,17.47,22.13,13.97,13.94,21.47,18.52,14.47,15.56,29.74,...,10.50,18.18,18.26,nan,12.98,14.87,14.17,10.16,14.18,17.31
2,Pug02,19.57,24.58,15.86,15.76,24.64,20.95,16.49,17.38,33.39,...,11.18,20.21,19.43,nan,14.26,16.48,16.06,11.35,15.73,19.35
3,Pug04,26.87,33.10,22.21,22.51,35.09,29.47,23.47,23.95,43.84,...,15.58,27.66,23.78,10.53,18.97,23.28,24.09,15.88,21.49,25.88
4,Tornjak01,16.59,20.38,13.81,13.98,19.41,17.61,14.55,15.33,25.96,...,11.60,17.62,17.10,nan,13.34,14.44,14.70,11.22,13.87,16.94
5,VillDog_Borneo02,10.66,13.27,nan,nan,12.07,11.18,nan,10.13,16.96,...,nan,11.51,12.01,nan,nan,nan,nan,nan,nan,11.25
6,PER00393,31.58,33.70,30.00,29.96,33.61,32.04,29.92,30.09,36.87,...,28.26,31.23,32.64,26.07,29.21,30.86,29.76,28.64,29.55,31.41
7,PER00438,13.21,16.19,12.25,11.98,13.27,13.38,12.36,14.04,17.38,...,11.81,13.42,14.75,11.16,11.45,12.42,11.81,10.13,11.24,12.85
8,PER00747,36.77,37.40,37.91,37.97,35.43,36.48,37.27,38.44,36.11,...,39.44,37.22,40.45,39.57,38.54,37.00,35.99,37.22,36.39,38.41
9,BorderCollie06,nan,10.01,nan,nan,nan,nan,nan,nan,12.05,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
10,ChowChow01,nan,10.93,nan,nan,nan,nan,nan,nan,13.13,...,nan,nan,10.03,nan,nan,nan,nan,nan,nan,nan
11,SpanishGalgo01,nan,12.87,nan,nan,10.67,nan,nan,nan,16.53,...,nan,nan,12.94,nan,nan,nan,nan,nan,nan,10.40
12,VillDog_Borneo03,nan,10.09,nan,nan,nan,nan,nan,nan,12.11,...,nan,nan,10.20,nan,nan,nan,nan,nan,nan,10.05
13,VillDog_China30,nan,10.77,nan,nan,nan,nan,nan,nan,12.88,...,nan,nan,10.60,nan,nan,nan,nan,nan,nan,nan
14,VillDog_China34,nan,11.63,nan,nan,nan,nan,nan,nan,14.02,...,nan,nan,11.28,nan,nan,nan,nan,nan,nan,nan
15,VillDog_China38,nan,12.43,nan,nan,10.35,nan,nan,nan,15.15,...,nan,10.17,11.69,nan,nan,nan,nan,nan,nan,nan
16,VillDog_China39,nan,12.07,nan,nan,10.01,nan,nan,nan,15.02,...,nan,nan,11.69,nan,nan,nan,nan,nan,nan,nan
17,VillDog_Lebanon01,nan,10.69,nan,nan,nan,nan,nan,nan,13.61,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
18,VillDog_Lebanon02,nan,10.37,nan,nan,nan,nan,nan,nan,13.70,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
19,VillDog_Qatar02,nan,11.24,nan,nan,nan,nan,nan,nan,14.08,...,nan,10.29,10.99,nan,nan,nan,nan,nan,nan,10.45
20,VillDog_Vietnam02,nan,10.44,nan,nan,nan,nan,nan,nan,11.86,...,nan,10.12,11.81,nan,nan,nan,nan,nan,nan,11.31
21,BAN00150,nan,12.06,nan,nan,11.27,10.52,nan,nan,16.64,...,nan,nan,12.09,nan,nan,nan,nan,nan,nan,10.43
22,PER00313,nan,10.26,nan,nan,nan,nan,nan,nan,14.64,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
23,IstrianShorthairedHound01,nan,nan,nan,nan,nan,nan,nan,nan,12.73,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
24,PER00177,nan,nan,nan,nan,nan,nan,nan,nan,11.82,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
25,NGSD2,nan,nan,nan,nan,nan,nan,nan,nan,10.01,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
26,NGSD3,nan,nan,nan,nan,nan,nan,nan,nan,12.83,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
27,Pug03,nan,nan,nan,nan,nan,nan,nan,nan,12.10,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
28,SwedishLapphund01,nan,nan,nan,nan,nan,nan,nan,nan,10.78,...,nan,nan,10.61,nan,nan,nan,nan,nan,nan,nan
29,UnknownBreed05,nan,nan,nan,nan,nan,nan,nan,nan,11.21,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
30,UnknownBreed07,nan,nan,nan,nan,nan,nan,nan,nan,11.17,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
31,VillDog_Borneo01,nan,nan,nan,nan,nan,nan,nan,nan,10.55,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32,VillDog_China32,nan,nan,nan,nan,nan,nan,nan,nan,10.49,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
33,VillDog_PapuaNG01,nan,nan,nan,nan,nan,nan,nan,nan,10.86,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
34,PER00152,nan,nan,nan,nan,nan,nan,nan,nan,14.35,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
35,PER00408,nan,nan,nan,nan,nan,nan,nan,nan,14.51,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
36,PER00409,nan,nan,nan,nan,nan,nan,nan,nan,13.28,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
37,PER00484,nan,nan,nan,nan,nan,nan,nan,nan,13.52,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
38,PER00806,nan,nan,nan,nan,nan,nan,nan,nan,14.61,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
39,VillDog_China01,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,10.18,nan,10.13,11.81,10.09,nan,nan,10.54,nan,nan
40,AF15-074_S4,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
41,FinnishLapphund01,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
42,Boxer01,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,37.49,100.00,100.00,100.00,100.00,100.00,100.00,100.00

In [11]:
df_rm_info = df_rm_outer.merge(metadata[["Name_ID", "Breed/CommonName"]], how="left", left_on="samples", \
                               right_on="Name_ID").drop(columns=["Name_ID"])
df_rm_info

,samples,_Missing%_chr1,_Missing%_chr2,_Missing%_chr3,_Missing%_chr4,_Missing%_chr5,_Missing%_chr6,_Missing%_chr7,_Missing%_chr8,_Missing%_chr9,...,_Missing%_chr30,_Missing%_chr31,_Missing%_chr32,_Missing%_chr33,_Missing%_chr34,_Missing%_chr35,_Missing%_chr36,_Missing%_chr37,_Missing%_chr38,Breed/CommonName
0,PER00167,10.23,13.47,nan,nan,13.47,11.50,nan,nan,19.18,...,10.69,11.85,nan,nan,nan,nan,nan,nan,10.92,Labrador Retriever
1,Pug01,17.47,22.13,13.97,13.94,21.47,18.52,14.47,15.56,29.74,...,18.18,18.26,nan,12.98,14.87,14.17,10.16,14.18,17.31,Pug
2,Pug02,19.57,24.58,15.86,15.76,24.64,20.95,16.49,17.38,33.39,...,20.21,19.43,nan,14.26,16.48,16.06,11.35,15.73,19.35,Pug
3,Pug04,26.87,33.10,22.21,22.51,35.09,29.47,23.47,23.95,43.84,...,27.66,23.78,10.53,18.97,23.28,24.09,15.88,21.49,25.88,Pug
4,Tornjak01,16.59,20.38,13.81,13.98,19.41,17.61,14.55,15.33,25.96,...,17.62,17.10,nan,13.34,14.44,14.70,11.22,13.87,16.94,Tornjak
5,VillDog_Borneo02,10.66,13.27,nan,nan,12.07,11.18,nan,10.13,16.96,...,11.51,12.01,nan,nan,nan,nan,nan,nan,11.25,Village Dog - Borneo
6,PER00393,31.58,33.70,30.00,29.96,33.61,32.04,29.92,30.09,36.87,...,31.23,32.64,26.07,29.21,30.86,29.76,28.64,29.55,31.41,Yorkshire Terrier
7,PER00438,13.21,16.19,12.25,11.98,13.27,13.38,12.36,14.04,17.38,...,13.42,14.75,11.16,11.45,12.42,11.81,10.13,11.24,12.85,Yorkshire Terrier
8,PER00747,36.77,37.40,37.91,37.97,35.43,36.48,37.27,38.44,36.11,...,37.22,40.45,39.57,38.54,37.00,35.99,37.22,36.39,38.41,Yorkshire Terrier
9,BorderCollie06,nan,10.01,nan,nan,nan,nan,nan,nan,12.05,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Border Collie
10,ChowChow01,nan,10.93,nan,nan,nan,nan,nan,nan,13.13,...,nan,10.03,nan,nan,nan,nan,nan,nan,nan,Chow Chow
11,SpanishGalgo01,nan,12.87,nan,nan,10.67,nan,nan,nan,16.53,...,nan,12.94,nan,nan,nan,nan,nan,nan,10.40,Spanish Galgo
12,VillDog_Borneo03,nan,10.09,nan,nan,nan,nan,nan,nan,12.11,...,nan,10.20,nan,nan,nan,nan,nan,nan,10.05,Village Dog - Borneo
13,VillDog_China30,nan,10.77,nan,nan,nan,nan,nan,nan,12.88,...,nan,10.60,nan,nan,nan,nan,nan,nan,nan,Village Dog - China
14,VillDog_China34,nan,11.63,nan,nan,nan,nan,nan,nan,14.02,...,nan,11.28,nan,nan,nan,nan,nan,nan,nan,Village Dog - China
15,VillDog_China38,nan,12.43,nan,nan,10.35,nan,nan,nan,15.15,...,10.17,11.69,nan,nan,nan,nan,nan,nan,nan,Village Dog - China
16,VillDog_China39,nan,12.07,nan,nan,10.01,nan,nan,nan,15.02,...,nan,11.69,nan,nan,nan,nan,nan,nan,nan,Village Dog - China
17,VillDog_Lebanon01,nan,10.69,nan,nan,nan,nan,nan,nan,13.61,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Village Dog - Lebanon
18,VillDog_Lebanon02,nan,10.37,nan,nan,nan,nan,nan,nan,13.70,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Village Dog - Lebanon
19,VillDog_Qatar02,nan,11.24,nan,nan,nan,nan,nan,nan,14.08,...,10.29,10.99,nan,nan,nan,nan,nan,nan,10.45,Village Dog - Qatar
20,VillDog_Vietnam02,nan,10.44,nan,nan,nan,nan,nan,nan,11.86,...,10.12,11.81,nan,nan,nan,nan,nan,nan,11.31,Village Dog - Vietnam
21,BAN00150,nan,12.06,nan,nan,11.27,10.52,nan,nan,16.64,...,nan,12.09,nan,nan,nan,nan,nan,nan,10.43,Yorkshire Terrier
22,PER00313,nan,10.26,nan,nan,nan,nan,nan,nan,14.64,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Yorkshire Terrier
23,IstrianShorthairedHound01,nan,nan,nan,nan,nan,nan,nan,nan,12.73,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Istrian Shorthaired Hound
24,PER00177,nan,nan,nan,nan,nan,nan,nan,nan,11.82,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Labrador Retriever
25,NGSD2,nan,nan,nan,nan,nan,nan,nan,nan,10.01,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,New Guinea Singing Dog
26,NGSD3,nan,nan,nan,nan,nan,nan,nan,nan,12.83,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,New Guinea Singing Dog
27,Pug03,nan,nan,nan,nan,nan,nan,nan,nan,12.10,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Pug
28,SwedishLapphund01,nan,nan,nan,nan,nan,nan,nan,nan,10.78,...,nan,10.61,nan,nan,nan,nan,nan,nan,nan,Swedish Lapphund
29,UnknownBreed05,nan,nan,nan,nan,nan,nan,nan,nan,11.21,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,UNKNOWN
30,UnknownBreed07,nan,nan,nan,nan,nan,nan,nan,nan,11.17,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,UNKNOWN
31,VillDog_Borneo01,nan,nan,nan,nan,nan,nan,nan,nan,10.55,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Village Dog - Borneo
32,VillDog_China32,nan,nan,nan,nan,nan,nan,nan,nan,10.49,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Village Dog - China
33,VillDog_PapuaNG01,nan,nan,nan,nan,nan,nan,nan,nan,10.86,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Village Dog - Papua New Guinea
34,PER00152,nan,nan,nan,nan,nan,nan,nan,nan,14.35,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Yorkshire Terrier
35,PER00408,nan,nan,nan,nan,nan,nan,nan,nan,14.51,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Yorkshire Terrier
36,PER00409,nan,nan,nan,nan,nan,nan,nan,nan,13.28,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Yorkshire Terrier
37,PER00484,nan,nan,nan,nan,nan,nan,nan,nan,13.52,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Yorkshire Terrier
38,PER00806,nan,nan,nan,nan,nan,nan,nan,nan,14.61,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Yorkshire Terrier
39,VillDog_China01,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,10.13,11.81,10.09,nan,nan,10.54,nan,nan,Village Dog - China
40,AF15-074_S4,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,UNKNOWN
41,FinnishLapphund01,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Finnish Lapphund
42,Boxer01,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,37.49,100.00,100.00,100.00,100.00,100.00,100.00,100.00,Boxer

In [12]:
# move the Breed Name up front
df_pop=df_rm_info['Breed/CommonName']
df_rm_info.drop(columns=['Breed/CommonName'], inplace=True)
df_rm_info.insert(1,'Population', df_pop)
df_rm_info

,samples,Population,_Missing%_chr1,_Missing%_chr2,_Missing%_chr3,_Missing%_chr4,_Missing%_chr5,_Missing%_chr6,_Missing%_chr7,_Missing%_chr8,...,_Missing%_chr29,_Missing%_chr30,_Missing%_chr31,_Missing%_chr32,_Missing%_chr33,_Missing%_chr34,_Missing%_chr35,_Missing%_chr36,_Missing%_chr37,_Missing%_chr38
0,PER00167,Labrador Retriever,10.23,13.47,nan,nan,13.47,11.50,nan,nan,...,nan,10.69,11.85,nan,nan,nan,nan,nan,nan,10.92
1,Pug01,Pug,17.47,22.13,13.97,13.94,21.47,18.52,14.47,15.56,...,10.50,18.18,18.26,nan,12.98,14.87,14.17,10.16,14.18,17.31
2,Pug02,Pug,19.57,24.58,15.86,15.76,24.64,20.95,16.49,17.38,...,11.18,20.21,19.43,nan,14.26,16.48,16.06,11.35,15.73,19.35
3,Pug04,Pug,26.87,33.10,22.21,22.51,35.09,29.47,23.47,23.95,...,15.58,27.66,23.78,10.53,18.97,23.28,24.09,15.88,21.49,25.88
4,Tornjak01,Tornjak,16.59,20.38,13.81,13.98,19.41,17.61,14.55,15.33,...,11.60,17.62,17.10,nan,13.34,14.44,14.70,11.22,13.87,16.94
5,VillDog_Borneo02,Village Dog - Borneo,10.66,13.27,nan,nan,12.07,11.18,nan,10.13,...,nan,11.51,12.01,nan,nan,nan,nan,nan,nan,11.25
6,PER00393,Yorkshire Terrier,31.58,33.70,30.00,29.96,33.61,32.04,29.92,30.09,...,28.26,31.23,32.64,26.07,29.21,30.86,29.76,28.64,29.55,31.41
7,PER00438,Yorkshire Terrier,13.21,16.19,12.25,11.98,13.27,13.38,12.36,14.04,...,11.81,13.42,14.75,11.16,11.45,12.42,11.81,10.13,11.24,12.85
8,PER00747,Yorkshire Terrier,36.77,37.40,37.91,37.97,35.43,36.48,37.27,38.44,...,39.44,37.22,40.45,39.57,38.54,37.00,35.99,37.22,36.39,38.41
9,BorderCollie06,Border Collie,nan,10.01,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
10,ChowChow01,Chow Chow,nan,10.93,nan,nan,nan,nan,nan,nan,...,nan,nan,10.03,nan,nan,nan,nan,nan,nan,nan
11,SpanishGalgo01,Spanish Galgo,nan,12.87,nan,nan,10.67,nan,nan,nan,...,nan,nan,12.94,nan,nan,nan,nan,nan,nan,10.40
12,VillDog_Borneo03,Village Dog - Borneo,nan,10.09,nan,nan,nan,nan,nan,nan,...,nan,nan,10.20,nan,nan,nan,nan,nan,nan,10.05
13,VillDog_China30,Village Dog - China,nan,10.77,nan,nan,nan,nan,nan,nan,...,nan,nan,10.60,nan,nan,nan,nan,nan,nan,nan
14,VillDog_China34,Village Dog - China,nan,11.63,nan,nan,nan,nan,nan,nan,...,nan,nan,11.28,nan,nan,nan,nan,nan,nan,nan
15,VillDog_China38,Village Dog - China,nan,12.43,nan,nan,10.35,nan,nan,nan,...,nan,10.17,11.69,nan,nan,nan,nan,nan,nan,nan
16,VillDog_China39,Village Dog - China,nan,12.07,nan,nan,10.01,nan,nan,nan,...,nan,nan,11.69,nan,nan,nan,nan,nan,nan,nan
17,VillDog_Lebanon01,Village Dog - Lebanon,nan,10.69,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
18,VillDog_Lebanon02,Village Dog - Lebanon,nan,10.37,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
19,VillDog_Qatar02,Village Dog - Qatar,nan,11.24,nan,nan,nan,nan,nan,nan,...,nan,10.29,10.99,nan,nan,nan,nan,nan,nan,10.45
20,VillDog_Vietnam02,Village Dog - Vietnam,nan,10.44,nan,nan,nan,nan,nan,nan,...,nan,10.12,11.81,nan,nan,nan,nan,nan,nan,11.31
21,BAN00150,Yorkshire Terrier,nan,12.06,nan,nan,11.27,10.52,nan,nan,...,nan,nan,12.09,nan,nan,nan,nan,nan,nan,10.43
22,PER00313,Yorkshire Terrier,nan,10.26,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
23,IstrianShorthairedHound01,Istrian Shorthaired Hound,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
24,PER00177,Labrador Retriever,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
25,NGSD2,New Guinea Singing Dog,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
26,NGSD3,New Guinea Singing Dog,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
27,Pug03,Pug,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
28,SwedishLapphund01,Swedish Lapphund,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,10.61,nan,nan,nan,nan,nan,nan,nan
29,UnknownBreed05,UNKNOWN,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
30,UnknownBreed07,UNKNOWN,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
31,VillDog_Borneo01,Village Dog - Borneo,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32,VillDog_China32,Village Dog - China,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
33,VillDog_PapuaNG01,Village Dog - Papua New Guinea,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
34,PER00152,Yorkshire Terrier,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
35,PER00408,Yorkshire Terrier,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
36,PER00409,Yorkshire Terrier,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
37,PER00484,Yorkshire Terrier,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
38,PER00806,Yorkshire Terrier,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
39,VillDog_China01,Village Dog - China,nan,nan,nan,nan,nan,nan,nan,nan,...,10.18,nan,10.13,11.81,10.09,nan,nan,10.54,nan,nan
40,AF15-074_S4,UNKNOWN,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
41,FinnishLapphund01,Finnish Lapphund,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
42,Boxer01,Boxer,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,37.49,100.00,100.00,100.00,100.00,100.00,100.00,100.00

In [13]:
df_rm_info[['samples', 'Population']].values

array([['PER00167', 'Labrador Retriever'],
       ['Pug01', 'Pug'],
       ['Pug02', 'Pug'],
       ['Pug04', 'Pug'],
       ['Tornjak01', 'Tornjak'],
       ['VillDog_Borneo02', 'Village Dog - Borneo'],
       ['PER00393', 'Yorkshire Terrier'],
       ['PER00438', 'Yorkshire Terrier'],
       ['PER00747', 'Yorkshire Terrier'],
       ['BorderCollie06', 'Border Collie'],
       ['ChowChow01', 'Chow Chow'],
       ['SpanishGalgo01', 'Spanish Galgo'],
       ['VillDog_Borneo03', 'Village Dog - Borneo'],
       ['VillDog_China30', 'Village Dog - China'],
       ['VillDog_China34', 'Village Dog - China'],
       ['VillDog_China38', 'Village Dog - China'],
       ['VillDog_China39', 'Village Dog - China'],
       ['VillDog_Lebanon01', 'Village Dog - Lebanon'],
       ['VillDog_Lebanon02', 'Village Dog - Lebanon'],
       ['VillDog_Qatar02', 'Village Dog - Qatar'],
       ['VillDog_Vietnam02', 'Village Dog - Vietnam'],
       ['BAN00150', 'Yorkshire Terrier'],
       ['PER00313', 'Yorkshire Terrier'],
       ['IstrianShorthairedHound01', 'Istrian Shorthaired Hound'],
       ['PER00177', 'Labrador Retriever'],
       ['NGSD2', 'New Guinea Singing Dog'],
       ['NGSD3', 'New Guinea Singing Dog'],
       ['Pug03', 'Pug'],
       ['SwedishLapphund01', 'Swedish Lapphund'],
       ['UnknownBreed05', 'UNKNOWN'],
       ['UnknownBreed07', 'UNKNOWN'],
       ['VillDog_Borneo01', 'Village Dog - Borneo'],
       ['VillDog_China32', 'Village Dog - China'],
       ['VillDog_PapuaNG01', 'Village Dog - Papua New Guinea'],
       ['PER00152', 'Yorkshire Terrier'],
       ['PER00408', 'Yorkshire Terrier'],
       ['PER00409', 'Yorkshire Terrier'],
       ['PER00484', 'Yorkshire Terrier'],
       ['PER00806', 'Yorkshire Terrier'],
       ['VillDog_China01', 'Village Dog - China'],
       ['AF15-074_S4', 'UNKNOWN'],
       ['FinnishLapphund01', 'Finnish Lapphund'],
       ['Boxer01', 'Boxer']], dtype=object)

In [42]:
# save these as the samples to be removed
#form new sample map with these samples removed
df_rm_info.to_csv(''.join([osp.join(out_path, 'dogs'),'/delete_samples.tsv']) , index=None, sep="\t")

In [21]:
# get the indexes where Sample is in list df_rm_info['samples']
ref_sample_map_keep=ref_sample_map[~(ref_sample_map['Sample'].isin(df_rm_info['samples']))].reset_index(drop=True)

In [22]:
ref_sample_map[ref_sample_map['Sample'].isin(df_rm_info['samples'])]

,Sample,Population,Superpopulation code
85,BorderCollie06,Border Collie,Border Collie
109,Boxer01,Boxer,Boxer
154,ChowChow01,Chow Chow,Chow Chow
203,FinnishLapphund01,Finnish Lapphund,Finnish Lapphund
276,IstrianShorthairedHound01,Istrian Shorthaired Hound,Istrian Shorthaired Hound
318,PER00167,Labrador Retriever,Labrador Retriever
319,PER00177,Labrador Retriever,Labrador Retriever
349,NGSD2,New Guinea Singing Dog,New Guinea Singing Dog
350,NGSD3,New Guinea Singing Dog,New Guinea Singing Dog
387,Pug01,Pug,Pug
388,Pug02,Pug,Pug
389,Pug03,Pug,Pug
390,Pug04,Pug,Pug
438,SpanishGalgo01,Spanish Galgo,Spanish Galgo
449,SwedishLapphund01,Swedish Lapphund,Swedish Lapphund
463,Tornjak01,Tornjak,Tornjak
476,UnknownBreed05,UNKNOWN,UNKNOWN
477,UnknownBreed07,UNKNOWN,UNKNOWN
489,AF15-074_S4,UNKNOWN,UNKNOWN
501,VillDog_Borneo01,Village Dog - Borneo,Village Dog - Borneo
502,VillDog_Borneo02,Village Dog - Borneo,Village Dog - Borneo
503,VillDog_Borneo03,Village Dog - Borneo,Village Dog - Borneo
505,VillDog_China01,Village Dog - China,Village Dog - China
523,VillDog_China30,Village Dog - China,Village Dog - China
525,VillDog_China32,Village Dog - China,Village Dog - China
527,VillDog_China34,Village Dog - China,Village Dog - China
531,VillDog_China38,Village Dog - China,Village Dog - China
532,VillDog_China39,Village Dog - China,Village Dog - China
553,VillDog_Lebanon01,Village Dog - Lebanon,Village Dog - Lebanon
554,VillDog_Lebanon02,Village Dog - Lebanon,Village Dog - Lebanon
559,VillDog_PapuaNG01,Village Dog - Papua New Guinea,Village Dog - Papua New Guinea
566,VillDog_Qatar02,Village Dog - Qatar,Village Dog - Qatar
570,VillDog_Vietnam02,Village Dog - Vietnam,Village Dog - Vietnam
600,BAN00150,Yorkshire Terrier,Yorkshire Terrier
620,PER00152,Yorkshire Terrier,Yorkshire Terrier
625,PER00313,Yorkshire Terrier,Yorkshire Terrier
632,PER00393,Yorkshire Terrier,Yorkshire Terrier
634,PER00408,Yorkshire Terrier,Yorkshire Terrier
635,PER00409,Yorkshire Terrier,Yorkshire Terrier
638,PER00438,Yorkshire Terrier,Yorkshire Terrier
643,PER00484,Yorkshire Terrier,Yorkshire Terrier
659,PER00747,Yorkshire Terrier,Yorkshire Terrier
663,PER00806,Yorkshire Terrier,Yorkshire Terrier

In [23]:
ref_sample_map_keep

                 Sample         Population Superpopulation code
0         AfghanHound01       Afghan Hound         Afghan Hound
1         AfghanHound03       Afghan Hound         Afghan Hound
2         AfghanHound04       Afghan Hound         Afghan Hound
3     AiredaleTerrier01   Airedale Terrier     Airedale Terrier
4     AiredaleTerrier02   Airedale Terrier     Airedale Terrier
..                  ...                ...                  ...
619            PER00758  Yorkshire Terrier    Yorkshire Terrier
620            PER00777  Yorkshire Terrier    Yorkshire Terrier
621            PER00816  Yorkshire Terrier    Yorkshire Terrier
622  YorkshireTerrier01  Yorkshire Terrier    Yorkshire Terrier
623  YorkshireTerrier02  Yorkshire Terrier    Yorkshire Terrier

[624 rows x 3 columns]

In [26]:
ref_sample_map_keep.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_keep.txt' ]), index=False, sep="\t", header=None)

# remove anything with MIX, Unknown, Village Dog

In [39]:
ref_sample_map_keep=pd.read_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_keep.tsv']) , sep="\t")
ref_sample_map_keep

                 Sample         Population Superpopulation code
0         AfghanHound01       Afghan Hound         Afghan Hound
1         AfghanHound03       Afghan Hound         Afghan Hound
2         AfghanHound04       Afghan Hound         Afghan Hound
3     AiredaleTerrier01   Airedale Terrier     Airedale Terrier
4     AiredaleTerrier02   Airedale Terrier     Airedale Terrier
..                  ...                ...                  ...
619            PER00758  Yorkshire Terrier    Yorkshire Terrier
620            PER00777  Yorkshire Terrier    Yorkshire Terrier
621            PER00816  Yorkshire Terrier    Yorkshire Terrier
622  YorkshireTerrier01  Yorkshire Terrier    Yorkshire Terrier
623  YorkshireTerrier02  Yorkshire Terrier    Yorkshire Terrier

[624 rows x 3 columns]

In [52]:
rm_samples=ref_sample_map_keep[ref_sample_map_keep['Population'].str.contains(r"\b(?:mix|unknown|vill)\b", case=False)]
rm_samples

,Sample,Population,Superpopulation code
329,C3549,MIX: American Cocker Spaniel and Beagle,MIX: American Cocker Spaniel and Beagle
330,C750,MIX: American Cocker Spaniel and Beagle,MIX: American Cocker Spaniel and Beagle
331,C783,MIX: American Cocker Spaniel and Beagle,MIX: American Cocker Spaniel and Beagle
332,CFA.118000,MIX: Dachsund,MIX: Dachsund
333,GR1078,MIX: Golden Retriever,MIX: Golden Retriever
334,MIX_KerryBlueTerrier_Beagle01,MIX: Kerry Blue Terrier and Beagle,MIX: Kerry Blue Terrier and Beagle
335,LA2382,MIX: Labrador Retriever,MIX: Labrador Retriever
336,A168,MIX: Miniature Schnauzer and Beagle,MIX: Miniature Schnauzer and Beagle
337,MI016,MIX: Mixed Breed,MIX: Mixed Breed
338,MixedBreed07,MIX: Siberian Husky,MIX: Siberian Husky
339,MixedBreed06,MIX: Tibetan Mastiff,MIX: Tibetan Mastiff
449,VillDog_China17,UNKNOWN,UNKNOWN
450,VillDog_China18,UNKNOWN,UNKNOWN
451,VillDog_China19,UNKNOWN,UNKNOWN
452,UnknownBreed09,UNKNOWN,UNKNOWN
453,KunmingDog01,UNKNOWN,UNKNOWN
454,406434N,UNKNOWN,UNKNOWN
455,BH003,UNKNOWN,UNKNOWN
456,JR0034,UNKNOWN,UNKNOWN
457,UnknownBreed02,UNKNOWN,UNKNOWN
458,UnknownBreed03,UNKNOWN,UNKNOWN
459,UnknownBreed04,UNKNOWN,UNKNOWN
460,UnknownBreed10,UNKNOWN,UNKNOWN
461,UnknownBreed11,UNKNOWN,UNKNOWN
462,UnknownBreed12,UNKNOWN,UNKNOWN
463,UnknownBreed13,UNKNOWN,UNKNOWN
464,WGS-76N,UNKNOWN,UNKNOWN
465,AF14-170_S13,UNKNOWN,UNKNOWN
466,AF14-259_S12,UNKNOWN,UNKNOWN
467,AF14-260_S7,UNKNOWN,UNKNOWN
468,AF14-296_S9,UNKNOWN,UNKNOWN
469,AF14-297_S10,UNKNOWN,UNKNOWN
470,AF15-019_S2,UNKNOWN,UNKNOWN
471,AF15-098_S11,UNKNOWN,UNKNOWN
472,NA13-359_S6,UNKNOWN,UNKNOWN
473,NA14-125_S8,UNKNOWN,UNKNOWN
474,NA14-126_S5,UNKNOWN,UNKNOWN
475,BAN00143,UNKNOWN,UNKNOWN

In [54]:
len(rm_samples)

38

In [55]:
ref_sample_map_keep=ref_sample_map_keep[~ref_sample_map_keep['Sample'].isin(rm_samples['Sample'])].reset_index(drop=True)
ref_sample_map_keep

                 Sample         Population Superpopulation code
0         AfghanHound01       Afghan Hound         Afghan Hound
1         AfghanHound03       Afghan Hound         Afghan Hound
2         AfghanHound04       Afghan Hound         Afghan Hound
3     AiredaleTerrier01   Airedale Terrier     Airedale Terrier
4     AiredaleTerrier02   Airedale Terrier     Airedale Terrier
..                  ...                ...                  ...
581            PER00758  Yorkshire Terrier    Yorkshire Terrier
582            PER00777  Yorkshire Terrier    Yorkshire Terrier
583            PER00816  Yorkshire Terrier    Yorkshire Terrier
584  YorkshireTerrier01  Yorkshire Terrier    Yorkshire Terrier
585  YorkshireTerrier02  Yorkshire Terrier    Yorkshire Terrier

[586 rows x 3 columns]

In [58]:
ref_sample_map_keep.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_c.txt']), index=None, sep="\t", header=None)
ref_sample_map_keep.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_c.tsv']), index=None, sep="\t")

# Make granular pop for expt1.txt

In [20]:
ref_map_expt1=pd.read_csv(osp.join(in_path,"dogs/expt1.txt"), sep="\t", header=None)
ref_map_expt1

                      0          1
0            140447_S11  Retriever
1             149323_S6  Retriever
2             152721_S5  Retriever
3             160822_S4  Retriever
4             164612_S9  Retriever
..                  ...        ...
242       WolfTibetan07       Wolf
243       WolfTibetan08       Wolf
244          XiasiDog01       East
245  YorkshireTerrier01    Terrier
246  YorkshireTerrier02    Terrier

[247 rows x 2 columns]

In [21]:
ref_map_expt1=ref_map_expt1.merge(metadata[['Name_ID', 'Breed/CommonName']], \
                                  left_on=0, right_on="Name_ID", how="left")
ref_map_expt1.drop(columns=["Name_ID"], inplace=True)

In [23]:
ref_map_expt1.rename(columns={0:'Sample', 1:'Superpopulation code', 'Breed/CommonName':'Population'}, inplace=True)

In [27]:
ref_map_expt1=ref_map_expt1[~ref_map_expt1["Superpopulation code"].isin(["Wolf", "Coyote"])]

In [28]:
ref_map_expt1

                      Sample Superpopulation code                   Population
0                 140447_S11            Retriever             Golden Retriever
1                  149323_S6            Retriever           Labrador Retriever
2                  152721_S5            Retriever           Labrador Retriever
3                  160822_S4            Retriever           Labrador Retriever
4                  164612_S9            Retriever             Golden Retriever
..                       ...                  ...                          ...
203  WestHighlandWhiteTerr09              Terrier  West Highland White Terrier
204                Whippet01            Greyhound                      Whippet
244               XiasiDog01                 East                    Xiasi Dog
245       YorkshireTerrier01              Terrier            Yorkshire Terrier
246       YorkshireTerrier02              Terrier            Yorkshire Terrier

[198 rows x 3 columns]

In [29]:
ref_map_expt1.to_csv(''.join([osp.join(out_path, 'dogs'),'/ref_map_expt1.tsv' ]), index=False, sep="\t")